<%- include('../components/head') %>

    <title>Profil</title>
</head>
<body class="overflow-hidden">
    <input type="hidden" id="userID" value="<%= user.id %>">
    <%- include('../components/profil-header') %>
    <div class="h-[80vh] flex justify-center items-center">
        <%- include('../components/navbar') %>
        <div class="w-[100%] h-[100%] flex flex-col items-center gap-[20px] overflow-y-auto">
            <div id="roomNav" class="flex justify-start items-center w-[90%] gap-[20px] p-[20px]">
                

            </div>
            <div class="w-[100%] h-[1px] bg-black"></div>
            <div id="roomContent" class="w-[90%] h-[80%] flex flex-col items-center gap-[20px]  hidden">
                <div id="chatBox" class="w-[90%] h-[50%] bg-white overflow-y-auto"></div>
                <input type="text" id="messageInput" placeholder="Écrire un message">
                <button id="sendMessage">Envoyer</button>
            </div>
        </div>
    </div>
    <%- include('../components/footer') %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/script/fournisseursScript.js"></script>
</body>
</html>
