<%- include('../components/head') %>

    <title>Profil</title>
</head>
<body class="overflow-hidden">
    <input type="hidden" id="userID" value="<%= user.id %>">
    <%- include('../components/profil-header') %>
    <div class="h-[80vh] flex justify-center items-center">
        <%- include('../components/navbar') %>
        <div class="w-[100%] flex flex-col items-center gap-[20px] overflow-y-auto">
            <div class="flex w-[50%] justify-start items-center gap-3">
                <button class="bg-[#EAAED6] rounded px-3 py-2" id="updateUser">Modifier</button>
                <button type="submit" id="userSubmit" class="px-3 py-2 bg-[#FBE9B1] hidden rounded">Mettre à jour</button>
            </div>
            <div class="flex w-[50%] justify-start items-center gap-10">
                <div class="">
                    <h2 class="text-4xl font-black">Informations personnelles</h2>
                    <form class="flex flex-col gap-5 mt-5">
                        <div class="flex items-center gap-5">
                            <label for="nom" class="text-xl font-semibold">Nom :</label>
                            <input type="text" id="userNom" class="w-[50%] p-[10px] border border-[#EAAED6] rounded-md" value="" disabled>
                        </div>
                        <div class="flex items-center gap-5">
                            <label for="prenom" class="text-xl font-semibold">Prénom :</label>
                            <input type="text" id="userPrenom" class="w-[50%] p-[10px] border border-[#EAAED6] rounded-md" value="" disabled>
                        </div>
                        <div class="flex items-center gap-5">
                            <label for="email" class="text-xl font-semibold">Email :</label>
                            <input type="email" id="userEmail" class="w-[50%] p-[10px] border border-[#EAAED6] rounded-md" value="" disabled>
                        </div>
                        <div class="flex items-center gap-5">
                            <label for="role" class="text-xl font-semibold">Rôle :</label>
                            <!-- <input type="text" id="userRole" class="w-[50%] p-[10px] border border-[#EAAED6] rounded-md" value="" disabled> -->
                            <select disabled name="userRole" id="userRole" class="w-[50%] p-[10px] border border-[#EAAED6] rounded-md">
                                <option value="Administrateur" >Administrateur</option>
                                <option value="Client">Utilisateur</option>
                                <option value="Commercial">Commercial</option>
                                <option value="Fournisseur">Fournisseur</option>
                                <option value="ResponsableLogistique">Responsable Logistique</option>
                                <option value="Livreur">Livreur</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('../components/footer') %>
    <script src="/static/script/profilScript.js"></script>
</body>
</html>
